header {
    background-image:  url(/images/WhatsApp\ Image\ 2022-10-18\ at\ 3.52.04\ PM.jpeg);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px 2000px;
    height: 550px;
}
a {
    text-decoration: none;
    color: whitesmoke;
}


.ul-1 {
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    color: white;
    font-size: x-large;
    margin-left: 600px;
    padding-top: 20px;
}
#li-1 {
    border: solid rgb(138, 253, 7) 4px;
    padding: 8px 25px 8px 20px; 
    border-radius: 8px;
}
#li-1:hover {
    background-color: white;
    color: rgb(138, 253, 7);
}
#li-2 {
    border: solid rgb(138, 253, 7) 4px;
    padding: 8px 25px 8px 20px;
    border-radius: 8px;
}
#li-2:hover {
    background-color: white;
    color: rgb(138, 253, 7);
}
#li-3 {
    border: solid rgb(138, 253, 7) 4px;
    padding: 8px 25px 8px 20px;
    border-radius: 8px;
}
#li-3:hover {
    background-color: white;
    color: rgb(138, 253, 7);
}
#li-4 {
    border: solid rgb(138, 253, 7) 4px;
    padding: 8px 25px 8px 20px;
    border-radius: 8px;
}
#li-4:hover {
    background-color: white;
    color: rgb(138, 253, 7);
}
.div-ctn {
    color: whitesmoke;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.body-main {
    text-align: center;
}
#btn-1 {
    padding: 10px 20px 10px 20px;
    background-color: yellow;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: large;

}
.field-1st {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#style-fld {
    padding:0px;
    width: 300px;
    border-radius: 3px;
    background-color: black;
    border: solid 0px ;
}
#img-fld1 {
    height: 50vh;
}
#ft1 {
    background-color: black;
    padding: 0%;
    margin-top: 0;
    color: white;
}
.lst-ft {
    background-image: url(/images/name.jpeg);
    height: 500px;
    background-size: 1500px 500px;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
}
#ft-h {
   padding-bottom: 350px;
}
